<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oppenheimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Oppenheimer.Properties.Settings>
            <setting name="Apps" serializeAs="String">
                <value>Chrome Browser~chrome~true~0~Seconds~false,Chrome Driver~chromedriver~false~0~Seconds~false</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="MinOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CycleTimeInt" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CycleTimeType" serializeAs="String">
                <value>Seconds</value>
            </setting>
            <setting name="AgentOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
        </Oppenheimer.Properties.Settings>
    </userSettings>
</configuration>