<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oppenheimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Oppenheimer.Properties.Settings>
            <setting name="Apps" serializeAs="String">
                <value>Chrome Browser~chrome~true~0~Seconds~false,Chrome Driver~chromedriver~true~0~Seconds~false,Excel~EXCEL.EXE~true~0~Seconds~false,Phantom JS~phantomjs~true~0~Seconds~false,Phantom JS Error~WerFault~true~0~Seconds~false,UFT Helper~HP.UFT.HelperService~true~0~Seconds~false,Internet Explorer~iexplore~true~0~Seconds~false,ALM~ALM-Client~true~0~Seconds~false,UFT Tool~UFT~true~0~Seconds~false,Auto Chrome~chrome~false~5~Minutes~true,Auto Chrome Driver~chromedriver~false~5~Minutes~true</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="MinOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CycleTimeInt" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CycleTimeType" serializeAs="String">
                <value>Seconds</value>
            </setting>
            <setting name="AgentOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RetryTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RetryCount" serializeAs="String">
                <value>0</value>
            </setting>
        </Oppenheimer.Properties.Settings>
    </userSettings>
</configuration>